body {
  background-color: #fdfacf;
  display: block;
  margin: 10px;
  font-family: "Uchen", serif;
}
.col-one {
  color: magenta;
}
.col-two {
  color: magenta;
}
.row {
  color: magenta;
}
#city {
  position: fixed;
  right: -400px;
  color: rgb(80, 77, 77);
}
.table {
  position: relative;
  right: -100px;
  margin: 50px;
}
.icon {
  color: red;
  font-size: 15px;
}
.card-body-one {
  padding: 20px;
  margin: 0px;
  border: 4px solid lightskyblue;
  position: relative;
}
.card-two {
  background-color: #fdfacf;
}
.btn-primary {
  color: rgb(255, 0, 0);
  background-color: rgba(148, 214, 255, 0.726);
  display: inline;
  right: -100px;
}
